.container{
   
   margin: auto;
    color: white;
    text-align: center; /* Center-align text within the container */
  
   
    align-items: center; /* Center content vertically */
    height: 300px;
    width: 100vw;
}
body{
  
    background-image: url("bg2.jpg");
}
button{
    background-color: black;
    height: 50px;
    width: 140px;
    border-radius: 30px;
    color: white;
    font-size: x-large;
    margin-top: 220px;
    margin-left: 550px;
    box-shadow: 3px 3px 10px white;
   
}
button:active{
    background-color: black;
    height: 52px;
    width: 142px;
    box-shadow: 3px 3px 30px white;
}
.start{
    
    padding-bottom: 0px;
   
}
h1,h2{
    font-family: cursive;
    
}

h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
}
.image{
    background-image: url("simon.png");
    height: 300px;
    width: 300px;
    border-radius: 50%;
 background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-top: 0px;

}